/* Register.css */

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #121826, #2b3a4a);

    font-family: Arial, sans-serif;
}

.register .card2 {
    display: flex;
    width: 70%;
    max-width: 600px;
    background-color: #ffffff;
    /* خلفية بيضاء */
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.register .card2 .left {
    flex: 1;
    padding: 40px;
    background: #eaeaea;
    /* خلفية فاتحة */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register .card2 .left h1 {
    color: #0074d9;
    /* أزرق غامق */
    margin-bottom: 20px;
}

.register .card2 .left p {
    color: #555555;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.register .card2 .left span {
    color: #777777;
    margin-bottom: 10px;
    font-size: 14px;
}

.register .card2 .left button {
    padding: 10px 20px;
    border: none;
    background-color: #121826;
    text-align: center;
    /* أزرق غامق */
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register .card2 .left button:hover {
    background-color: #08131f;
    /* أزرق أغمق عند التمرير */
}

.register .card2 .right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register .card2 .right h1 {
    color: #2b0e08;
    margin-bottom: 30px;
    text-align: center;
}

.register .card2 .right form {
    display: flex;
    flex-direction: column;
}

.register .card2 .right form input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-size: 14px;
    color: #08131f;
}

.register .card2 .right form input:focus {
    outline: none;
    border-color: #0074d9;
    /* أزرق غامق عند التركيز */
    box-shadow: 0 0 4px rgba(106, 17, 203, 0.3);
}

.register .card2 .right form button {
    padding: 12px 20px;
    background-color: #0074d9;
    color: #f0f0f0;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 180px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
}
.btn-register {
    display: flex;
    justify-content: center;
}

.register .card2 .right form button:disabled {
    background-color: #cccccc;
    /* لون رمادي عند تعطيل الزر */
    cursor: not-allowed;
}

.register .card2 .right form .error {
    color: #dc3545;
    /* أحمر لفشل التحقق */
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

