/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    /* Colours */
    --background: #06223A;
    --banner-background: #2b3a4a;  
    --white-alpha-20: #ffffff33;
    --on-background: #e5f1ff;
    --on-surface: #d0e3ff;
    --on-surface-variant: #7f8fa6;
    --primary: #1a73e8;
    --primary-variant: #1259c7;
    --rating-color: #ffd700;
    --surface: #1c2733;
    --text-color: #9aaab8;
    --white: #ffffff;

    /* Gradient colors */
    --bottom-overlay: 180deg, rgba(28, 39, 51, 0), rgb(28, 39, 51);

    /* Typography remains unchanged */
    --ff-dm-sans: "DM Sans", sans-serif;

    /* Font size */
    --fs-heading: 4rem;
    --fs-title-lg: 2.6rem;
    --fs-title: 2rem;
    --fs-body: 1.8rem;
    --fs-button: 1.5rem;
    --fs-label: 1.4rem;

    /* Font weight */
    --weight-bold: 700;

    /* Shadow */
    --shadow-1: 0 1px 4px rgba(0, 0, 0, 0.75);
    --shadow-2: 0 2px 4px rgba(26, 115, 232, 0.3);

  /* border radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /* transition */
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}


.favorite[favotite="true"]{
  color: #db0028;
}

.details-button {
  border: none;
  background-color: #db0028;
  border-radius: 10px;
  padding: 0 10px;
  width: fit-content;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flex_container * {
  display: block;
}



.favorite[favotite="true"]{
  color: #db0028;
}

.details-button {
  border: none;
  background-color: #db0028;
  border-radius: 10px;
  padding: 0 10px;
  width: fit-content;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flex_container * {
  display: block;
}





.fav-details{
  display: flex;
  align-items: center ;
  gap: 20px;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
iframe,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  text-align: left;
  cursor: pointer;
}

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body);
  line-height: 1.5;
}

:focus-visible {
  outline-color: var(--primary-variant);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.search-wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}

.search-wrapper::before {
  position: absolute;
  top: 14px;
  right: 12px;
}

.search-wrapper.searching::before {
  display: block;
}



.heading,
.title-large,
.title {
  font-weight: var(--weight-bold);
  letter-spacing: 0.5px;
}

.title {
  font-size: var(--fs-title);
}

.heading {
  color: var(--white);
  font-size: var(--fs-heading);
  line-height: 1.2;
}

.title-large {
  font-size: var(--fs-title-lg);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.meta-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.6rem;
}

.btn {
  color: var(--white);
  font-size: var(--fs-button);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

.card-badge {
  background-color: var(--banner-background);
  color: var(--white);
  font-size: var(--fs-label);
  font-weight: var(--weight-bold);
  padding-inline: 6px;
  border-radius: var(--radius-4);
}

.poster-box {
  background-image: url("../images/poster-bg-icon.png");
  aspect-ratio: 2 / 3;
}

.poster-box,
.video-card {
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
  overflow: hidden;
}

.title-wrapper {
  margin-block-end: 24px;
}

.slider-list {
  margin-inline: -20px;
  overflow-x: scroll;
  padding-block-end: 16px;
  margin-block-end: -16px;
}

.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider-list:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.slider-list::-webkit-scrollbar-button {
  width: 20px;
}

.slider-list .slider-inner {
  position: relative;
  display: flex;
  gap: 16px;
}

.slider-list .slider-inner::before,
.slider-list .slider-inner::after {
  content: "";
  min-width: 4px;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: relative;
  padding-block: 24px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header .logo {
  margin-inline-end: auto;
}

.search-btn,
.menu-btn {
  padding: 12px;
}

.search-btn {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

.search-btn img {
  opacity: 0.5;
  transition: var(--transition-short);
}

.search-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menu-btn.active .menu,
.menu-btn .close {
  display: none;
}

.menu-btn .menu,
.menu-btn.active .close {
  display: block;
}

.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 24px 16px;
  align-items: center;
  gap: 8px;
  z-index: 1;
  display: none;
}

.search-box.active {
  display: flex;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.search-field {
  background-color: var(--banner-background);
  height: 48px;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
  color: #f8f9fa;
  font-size: 18px;
}

.search-field::placeholder {
  color: var(--on-surface-variant);
}

.search-field:hover {
  box-shadow: 0 0 0 2px var(--on-surface-variant);
}

.search-field:focus {
  box-shadow: 0 0 0 2px var(--on-surface);
  padding-inline-start: 16px;
}

.search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  opacity: 0.5;
  transition: var(--transition-short);
}

.search-wrapper:focus-within .leading-icon {

}

.separator {
  width: 4px;
  height: 4px;
  background-color: var(--white-alpha-20);
  border-radius: var(--radius-8);
}

.video-card {
  background-image: url("../images/video-bg-icon.png");
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  max-width: 500px;
  width: calc(100% - 40px);
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/
.sidebar {
  position: absolute;
  background-color: #121826;
  top: 96px;
  bottom: 0;
  left: -340px;
  max-width: 340px;
  width: 100%;
  overflow-y: overlay;
  z-index: 4;
  visibility: hidden;
  transition: var(--transition-long);
  
  /* Neon border effect */
  border-right: 1px solid #2b3a4a; /* Main border color */
  box-shadow: 0 0 4px #2b3a4a, 0 0 4px #2b3a4a, 0 0 4px #2b3a4a;
}


.sidebar.active {
transform: translateX(340px);
visibility: visible;
}

.sidebar-inner {
  display: grid;
  gap: 20px;
  padding-block: 36px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.sidebar::-webkit-scrollbar-button {
  height: 16px;
}

.sidebar-list{
  padding-inline: 36px;
}

.sidebar-link {
  color: var(--on-surface-variant);
  transition: var(--transition-short);
  text-decoration: none;
  font-size: 1.7rem;
}

.sidebar-link:is(:hover, :focus-visible) {
  color: var(--on-background);
}
.sidebar-link.active{
  color: var(--on-background);
}

.sidebar-list {
  display: grid;
  gap: 8px;
}

.sidebar-list .title {
  margin-block-end: 8px;
}

.sidebar-footer {
  border-block-start: 1px solid var(--banner-background);
  padding-block-start: 28px;
  margin-block-start: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--background);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 3;
}

.overlay.active {
  opacity: 0.5;

}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/


.footer {
  background-color: var(--background);
  color: #fff;
  padding: 25px;
  text-align: center;
 
}

.footer-wrapper {
  display: flex;
  justify-content: space-between; /* Center the contents horizontally */
  align-items: center;     /* Center the contents vertically */
  gap: 30px;               /* Space between the footer elements */
  max-width: 1200px;
  margin: 0 50px;
  flex-wrap: wrap;         /* Ensure the content wraps on smaller screens */
  text-align: center;      /* Align text in the center for the whole container */
}

/* Logo Section */
.footer-logo img {
  max-width: 150px;
  margin-bottom: 1px;
}

.footer-logo-text {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

/* Links Section */
.footer-links {
  margin: 20px 0;
}

.footer-links-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: var(--primary-variant);
  text-decoration: none;
}

/* Contact Section */
.footer-contact {
  margin: 20px 0;
  text-align: right;
  font-size: 14px;
  color: #fff;
}

.footer-contact p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-contact .social-icon {
  margin-right: 8px;
  color: var(--primary-variant);
  font-size: 18px;
}

/* Social Media Section */
.footer-social {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--primary-variant);
}

/* Copyright Section */
.footer-copyright {
  font-size: 12px;
  margin-top: 15px;
  color: #aaa;
}

.footer-gap{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links-list {
    flex-direction: column;
  }

  .footer-contact {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    max-width: 120px;
  }

  .footer-links a {
    font-size: 12px;
  }

  .social-icon {
    font-size: 20px;
  }

  .footer-contact .social-icon {
    font-size: 16px;
  }
}

/*-----------------------------------*\
  #HOMEPAGE
\*-----------------------------------*/

.container {
  position: relative;
  background-color: #121826;
  color: var(--on-surface);
  padding: 24px 20px 48px;
  overflow-y:scroll;
  z-index: 1;
}

/* MOVIE LIST */
.movie-list {
  padding-top: 32px;
}

.movie-card {
  width: 200px;
}

.movie-card .card-banner {
  width: 200px;
  height: 300px;
}

.movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 8px 4px;
}

.movie-card .meta-list {
  display: flex;
  justify-content: space-between;
}

/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/

.backdrop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -5;
  filter: opacity(0.1);
}

.movie-detail .movie-poster {
  max-width: 300px;
  width: 100%;
}

.movie-detail .heading {
  margin: 24px 12px;
}

.movie-detail :is(.meta-list, .genre) {
  color: var(--text-color);
}

.movie-detail .genre {
  margin: 12px 16px;
  font-size: large;
  display: inline;
}
.overview{
  width: 80%;
  font-size: large;
}

.detail-list {
  margin: 24px 32px;
}

.movie-detail .list-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.movie-detail .list-name {
  color: var(--text-color);
  min-width: 112px;
}

/*-----------------------------------*\
  #MOVIE LIST PAGE
\*-----------------------------------*/

.genre-list .title-wrapper {
  margin-bottom: 56px;
}
.genre span {
  display: inline;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 16px;
  row-gap: 20px;
}


/*-----------------------------------*\
  #SEARCH Section
\*-----------------------------------*/

.search-result {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--surface);
  padding: 50px 24px;
  overflow-y:scroll;
  z-index: 400;
  display: none;
}

.search-result.active {
  display: block;
}

.search-result .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-bottom: 8px;
}


.search-result {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--surface);
  padding: 50px 24px;
  overflow-y:scroll;
  z-index: 400;
  display: none;
}

.search-result.active {
  display: block;
}

.search-result .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-bottom: 8px;
}

/*-----------------------------------*\
  #LOGIN
\*-----------------------------------*/

.login-page {
  position: relative;
  background-color: #000; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/images/poster-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(0.5);
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 3rem;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.login-card h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
  padding: 2rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group .form-control {
  border-radius: 0;
}


.btn:hover {
  background-color: #0056b3;
}

.text-primary {
  color: #007bff;
  text-decoration: none;
  font-size: large;
}

.text-primary:hover {
  text-decoration: none;
}



.login-card .btn {
  background-color: #1259c7;
  border: none;
  height: 50px;
  width: 100%; 
  max-width: 200px; 
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 3rem auto;
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 

}

.login-card .btn:hover {
  background-color: #1d72b8;
}

.login-card .alert {
  margin-top: 1rem;
}

.login-card .alert-success {
  background-color: #4caf50;
  color: #fff;
}

.login-card .alert-danger {
  background-color: #f44336;
  color: #fff;
}

.login-card .text-light {
  color: #cbd5e0;
}

.login-card .text-primary {
  color: #1d72b8;
}

.login-card .text-primary:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-card {
    padding: 1.5rem;
    width: 90%; /* Make card smaller on smaller screens */
  }

  .login-card h2 {
    font-size: 1.5rem;
  }
}


/*-----------------------------------*\
  #CONTACTS
\*-----------------------------------*/
.contact-section { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  flex-wrap: wrap;
}

.contact-card {
  width: 100%;
  max-width: 500px; 
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.contact-title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
  padding: 1rem;
}

.contact-form .form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact-form .form-row textarea {
  flex: 1;
}

.form-input {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.35rem;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007bff;
}

.side-contact {
  max-width: 300px; 
  padding: 1.5rem;
}

.submit-btn {
  width: 100%;
  background-color: #1259c7;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.34rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.submit-btn:hover {
  background-color: #1d72b8;
}

.highlight-text {
  color: #1259c7; /* Set text color to blue */
}

/* Responsiveness */
@media (max-width: 768px) {
  .contact-card {
    padding: 2rem;
  }

  .side-contact {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

.contact-section-sub{

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  flex-wrap: wrap;
}
.contact-card-sub{
  width: 100%;
  max-width: 800px; 
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* screen larger than 575px */
@media (min-width: 575px) {
  /* HOME PAGE */


  /* DETAIL PAGE */
  .detail-content {
    max-width: 750px;
  }

}

/* screen larger than 768px */
@media (min-width: 768px) {
  :root {

    /* font size */
    --fs-heading: 5.4rem;
  }
  /* HOME PAGE */
  .container {
    padding-inline: 24px;
  }

  .slider-list {
    margin-inline: -24px;
  }

  .search-btn {
    display: none;
  }
 

  /* .carousel-inner{
    height: 100px;
  } */
  .search-box {
    all: unset;
    display: block;
    width: 360px;
  }


  /* MOVIE DETAIL PAGE */
  .movie-detail {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .movie-detail .detail-box {
    flex-grow: 1;
  }

  .movie-detail .movie-poster {
    flex-shrink: 0;
    position: sticky;
    top: 0;
  }

  .movie-detail .slider-list {
    margin-inline-start: 0;
    border-radius: var(--radius-16) 0 0 var(--radius-16);
  }


}

/* screen larger than 1200px */
@media (min-width: 1200px) {
  /* HOME PAGE */
  .header {
    padding: 28px 56px;
  }
  .sidebar-toggle-btn{
    display: none !important;  }
 

  .logo img {
   height: 100%;

   height: 100%;

  }

  .menu-btn,
  .overlay {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  .sidebar {
    position: static;
    visibility: visible;
    height: 100vh;
  }

  .sidebar.active {
    transform: none;
  }

  .sidebar-list {
    padding-inline: 56px;
  }

  .container {
    height: 100vh;
  }


  .search-result {
    top: 105px;
    padding: 60px;
  }
 

  /* MOVIE DETAIL PAGE */
  .backdrop-image {
    filter: brightness(0.19);
    border-top-left-radius: var(--radius-36);
  }

}

.pagination{
  display: flex;
  margin-top: 10px;
}
.carousel{
  width: 100%;
}
.carousel-item img{
  filter:brightness(0.5);


}
/* Custom Header Styles */
.custom-header {

  background-color: #121826;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Logo styling */
.logo-link img {
  display: block;
  width: 140px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-link img:hover {
  transform: scale(1.1);
}

/* Search box container */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  background-color: var(--banner-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}

.search-icon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.2);
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  transition: width 0.3s ease;
}

.search-input:focus {
  width: 250px;
  transition: width 0.3s ease;
}

.clear-search-btn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-search-btn img {
  transition: transform 0.3s ease;
}

.clear-search-btn:hover img {
  transform: rotate(180deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    margin-top: 10px;
  }

  .search-input {
    font-size: 14px;
  }
  .movie-card {
    width: 400px;
    margin: auto;
  }
  .movie-card .card-banner {
    width: 100%;
    height: 300px;
  }
  .grid-list{
    grid-template-columns: 1fr;
    
   }
}

@media (max-width: 480px) {
  .search-container {
    max-width: 100%;
  }

  .search-input {
    width: 100%;
  }
}

.side-contact{
  font-size: 20px;
}